<div class="center hero-unit">
  <h1>Portfolio</h1>

  <h2>
    Zobacz
    <a href="http://fc07.deviantart.net/fs20/i/2007/275/a/f/Little_Baby_by_koalapurpura.jpg">niektóre</a>
    projekty
  </h2>

</div>

<div class="actions">
<%# This is the line to add: -%>
     <%= link_to image_tag("1.jpg", alt: "Rails"), "http://www.widelec.org/stuff/niebo2/niebo_01.jpg", { :class => "grouped_elements", :rel => "zomg_awesome_images" } %> 

