<div class="center hero-unit">
  <h1>Portfolio</h1>

  <h2>
    Zobacz
    <a href="http://fc07.deviantart.net/fs20/i/2007/275/a/f/Little_Baby_by_koalapurpura.jpg">niektóre</a>
    projekty
  </h2>

</div>

<%= link_to image_tag("fiolek.jpg", alt: "Obrazek"), 'http://rubyonrails.org/' %>